*__pycache__/
acc/
data/
image/
Models/
new_sheep_image/
new_sheep_seg/
new_sheep_val_image/
new_sheep_val_seg/
pre_sheep_seg/
predict_source/
predict_target/
sheep/
sheep_image/
sheep_predict/
sheep_seg/
sheep_val_image/
sheep_val_seg/
*.so
val_image/
val_seg/
val_seg_pre/
w/
result/
.DS_Store
tmp/
aug_data/